@font-face {
  font-family: 'Bebas-Regular';
  src: url(./assets/font/Bebas-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'LEMON MILK Bold';
  src: url('./assets/font/LemonMilkbold.otf') format('otf');
  /* url('./assets/font/HCKS LemonMilk.ttf') format('ttf'), */
  /* url('./assets/font/LemonMilkbolditalic.otf') format('otf'),
    url('./assets/font/LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg'),
    url('./assets/font/LEMONMILK-Bold.ttf') format('truetype'),
    url('./assets/font/LEMONMILK-Bold.svg#LEMONMILK-Bold') format('svg'); */
  font-weight: normal;
  font-style: normal;
}

.index {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .overlap-group-wrapper {
  /* height: 482px; */
  width: 987px;
}

.index .overlap-group {
  height: 196px;
  left: 57px;
  position: relative;
  width: 520px;
}

.index .figure {
  height: 70px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 520px;
}

.index .grupo {
  height: 68px;
  left: 3px;
  position: absolute;
  top: 62px;
  width: 512px;
}

.index .img {
  height: 196px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 238px;
}

/* .input1 {
  color: white;
  font-weight: 700;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  position: relative;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 250px;
  top: -420px;
}

.input1:focus {
  outline: none;
  caret-color: transparent;
}

.input2 {
  color: white;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  position: relative;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 340px;
  top: -420px;
}

.input2:focus {
  outline: none;
  caret-color: transparent;
} */

.match {
  color: white;
  font-size: 30px;
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 288px;
  top: -123px;
}

.score1 {
  color: white;
  font-size: 42px;
  background-color: transparent;
  position: relative;
  font-weight: bold;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 242px;
  top: -181px;
}
.score2 {
  color: white;
  font-size: 42px;
  background-color: transparent;
  position: relative;
  font-weight: bold;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 363px;
  top: -230px;
}
.name1 {
  color: white;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  font-weight: bold;
  width: 300px;
  height: 50px;
  z-index: 99;
  left: 117px;
  top: -243px;
  font-family: 'LEMON MILK Bold';
}
.name2 {
  color: white;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  font-weight: bold;
  width: 20px;
  height: 50px;
  z-index: 99;
  left: 423px;
  top: -294px;
  font-family: 'LEMON MILK Bold';
}

.flag1 {
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 99;
  left: 423px;
  top: -294px;
}
.flag2 {
  width: 81px;
  height: 81px;
  vertical-align: middle;
  position: absolute;
  z-index: 99;
  top: 71px;
  left: 432px;
}

input[type='text'],
select {
  width: 300px;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.score {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.match-number {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-flag {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name-team {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
